    <form action="simpanproduk" method="POST">
        <p><input type="text" name="namaproduk" id=""> Nama Produk</p>
        <p><input type="text" name="nomorseri" id="">Nomor Seri</p>
        <p><input type="submit" value="cari"></p>
    </form>